<div class ="bg-light">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>

<nav class="navbar sticky-bottom navbar-dark bg-dark">
    <div class="text-light">
    <P >Mathew Borg. All Rights Reserved © 2020 | Terms of Use | Affiliations</P>
  </div>
  <form class="form-inline">
    <a class="nav-link btn-link text-light" href="https://www.instagram.com/mathewmarioborg/"><i class="fab fa-instagram"></i></a>
    <a class="nav-link btn-link text-light" href="https://github.com/mat4539/"><i class="fab fa-github-square"></i></a>
    <a class="nav-link btn-link text-light" href="https://ca.linkedin.com/in/mathew-borg-433b1616a?trk=people-guest_profile-result-card_result-card_full-click/"><i class="fab fa-linkedin"></i></a>
    <a class="nav-link btn-link text-light" href="https://www.facebook.com/mathew.borg.90/"><i class="fab fa-facebook-square"></i></a>
    <a class="nav-link btn-link text-light" href="https://twitter.com/mat_4539?lang=en/"><i class="fab fa-twitter-square"></i></a>
  </form>
</nav>